@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-inter: "Inter", system-ui, sans-serif;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-text-primary font-sans antialiased;
    background-color: #0a0a0a;
  }

  html {
    @apply scroll-smooth;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

